<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mobile Shop</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/template.css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">
    <!-- jQuery and Modernizr-->
    <script src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <!-- Core JavaScript Files -->
    <script src="js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<top></top>
<div id="page-content" class="single-page">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="category.html">Sort by {{sortchoice}} : {{sorthow}}</a></li>
                    <li style="margin-left: 50px;">
                        <el-input
                                  placeholder="keyword"
                                  suffix-icon="el-icon-search"
                                  v-model="keyword">
                        </el-input>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" class="col-xs-12" v-if="products.length!=0">
                <div class="products">
                    <div class="col-lg-4 col-md-4 col-xs-12" v-for="(product,index) in products" :key="index">
                        <div class="product">
                            <div class="image"><a :href="'product.html?commodityid='+product.commodityId">
                                <img :src="product.imgsrc"/></a></div>
                            <div class="buttons">
                                <a class="btn cart" :href="'product.html?commodityid='+product.commodityId"><span
                                        class="glyphicon glyphicon-shopping-cart"></span></a>
                                <a class="btn wishlist" :href="'product.html?commodityid='+product.commodityId"><span
                                        class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn compare" :href="'product.html?commodityid='+product.commodityId"><span
                                        class="glyphicon glyphicon-transfer"></span></a>
                            </div>
                            <div class="caption">
                                <div class="name"><h3><a href="product.html">{{product.name}}</a></h3>
                                </div>
                                <div class="price">${{product.price}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<foot></foot>
</body>
<script src="event/category.js"></script>
<script>
    $(document).ready(function () {
        $("top").load("./module/top.html");
        $("foot").load("./module/foot.html");
    });
</script>
</html>
